<!doctype html>
<html>
<head>
	<title>Page Title</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/bootstrap.min.css">
</head>
<body>
	
	<div class="container">
		<h1>User Manager</h1>

			<!--
		<ul>
			<% for (var i=0; i < users.length; i++) { %>
				<li><%= users[i].firstName + users[i].lastName + users[i].email %></li>
				<% } %>
		</ul>
		
		<form action="/add" method="post">
			<input type="text" name="newUser">
			<input type="text" lastname="userLastName">
			<input type="text" email="userEmail">
			<input type="submit">
		</.form>
		-->
		
	</div>
	
	
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	
	
	<script>
	
		var UserList = Backbone.View.extend({
			el: '.page',
			render: function() {
				this.$el.html('content should show here');
			}
		});
		
		
	
		var Router = Backbone.Router.extend({
			routes: {
				'': 'home'
			}
		});
		
		var userList = new UserList();
		
		var router = new Router();
		router.on('route:home',function() {
			userList.render();
		});
		
		Backbone.history.start();
		
	</script>
	
	<!--
	-->
	
</body>
</html>
